<div class="profile--details fs--14">
  <!-- Profile Item Start -->
  <div class="profile--item">
    <div class="profile--heading">
      <h3 class="h4 fw--700">
        <span class="mr--4">About Me</span>
        <i class="ml--10 text-primary fa fa-caret-right"></i>
      </h3>
    </div>

    <div class="profile--info">
      <table class="table">
        <tr>
          <th class="fw--700 text-darkest">Full Name</th>
          <td><a href="#" class="btn-link">{{member.firstName}} {{member.lastName}}</a></td>
        </tr>
        <tr>
          <th class="fw--700 text-darkest">Skill</th>
          <td>Graphic Design, Font-End Development, Web Development</td>
        </tr>
        <tr>
          <th class="fw--700 text-darkest">Date of Birth</th>
          <td>19<sup>th</sup> January 2017</td>
        </tr>
        <tr>
          <th class="fw--700 text-darkest">Date of Registration</th>
          <td>19<sup>th</sup> January 2017</td>
        </tr>
      </table>
    </div>
  </div>
  <!-- Profile Item End -->

  <!-- Profile Item Start -->
  <div class="profile--item">
    <div class="profile--heading">
      <h3 class="h4 fw--700">
        <span class="mr--4">Biography</span>
        <i class="ml--10 text-primary fa fa-caret-right"></i>
      </h3>
    </div>

    <div class="profile--info">
      <p>Hello ! I’m <a href="#">{{member.firstName}} {{member.lastName}}</a></p><br/>
      <p>{{member.text}}</p>
    </div>
  </div>

  <!--<div class="profile&#45;&#45;item">-->
    <!--<div class="profile&#45;&#45;heading">-->
      <!--<h3 class="h4 fw&#45;&#45;700">-->
        <!--<span class="mr&#45;&#45;4">Contact</span>-->
        <!--<i class="ml&#45;&#45;10 text-primary fa fa-caret-right"></i>-->
      <!--</h3>-->
    <!--</div>-->

    <!--<div class="profile&#45;&#45;info">-->
      <!--<table class="table">-->
        <!--<tr>-->
          <!--<th class="fw&#45;&#45;700 text-darkest">Phone</th>-->
          <!--<td><a href="tel:+16105598246">{{member.}}</a></td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<th class="fw&#45;&#45;700 text-darkest">E-mail</th>-->
          <!--<td><a href="mailto:demo@fakemail.com">{{member.email}}</a></td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<th class="fw&#45;&#45;700 text-darkest">Website</th>-->
          <!--<td><a href="#">example.com</a></td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<th class="fw&#45;&#45;700 text-darkest">Address</th>-->
          <!--<td>123 Lorem St., California, United States</td>-->
        <!--</tr>-->
      <!--</table>-->
    <!--</div>-->
  <!--</div>-->


</div>
