<div class="filter--nav pb--60 clearfix">
  <div class="filter--links float--left">
    <ul class="nav ff--primary">
      <li><a href="member-activity-personal.html">Personal</a></li>
      <li><a href="member-activity-mentions.html">Mentions</a></li>
      <li><a href="member-activity-favorites.html">Favorites</a></li>
      <li class="active"><a href="member-activity-friends.html">Friends</a></li>
      <li><a href="member-activity-groups.html">Groups</a></li>
    </ul>
  </div>

  <div class="filter--options float--right">
    <label>
      <span class="fs--14 ff--primary fw--500 text-darker">Show By :</span>

      <select name="activityfilter" class="form-control form-sm" data-trigger="selectmenu">
        <option value="updates" selected>Updates</option>
        <option value="friendships">Friendships</option>
        <option value="group-updates">Group Updats</option>
        <option value="membership">Membership</option>
        <option value="topics">Topics</option>
        <option value="replies">Replies</option>
        <option value="posts">Posts</option>
        <option value="comments">Comments</option>
      </select>
    </label>
  </div>
</div>
<!-- Filter Nav End -->

<!-- Activity List Start -->
<div class="activity--list">
  <!-- Activity Items Start -->
  <ul class="activity--items nav">
    <li>
      <!-- Activity Item Start -->
      <div class="activity--item">
        <div class="activity--avatar">
          <a href="member-activity-personal.html">
            <img src="img/activity-img/avatar-09.jpg" alt="">
          </a>
        </div>

        <div class="activity--info fs--14">
          <div class="activity--header">
            <p><a href="member-activity-personal.html">Martina B. Scott</a> Chnged his profile picture at <a href="#"><i class="fa ml--4 mr--4 fa-map-marker"></i> Atlanta, United States</a></p>
          </div>

          <div class="activity--meta fs--12">
            <p><i class="fa mr--8 fa-clock-o"></i>Yeasterday at 08:20 am</p>
          </div>

          <div class="activity--content">
            <p>It's me</p>

            <div class="img--embed">
              <img src="img/activity-img/profile-pic-09.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
      <!-- Activity Item End -->
    </li>
    <li>
      <!-- Activity Item Start -->
      <div class="activity--item">
        <div class="activity--avatar">
          <a href="member-activity-personal.html">
            <img src="img/activity-img/avatar-02.jpg" alt="">
          </a>
        </div>

        <div class="activity--info fs--14">
          <div class="activity--header">
            <p><a href="member-activity-personal.html">Samuel C. Azevedo</a> posted an update</p>
          </div>

          <div class="activity--meta fs--12">
            <p><i class="fa mr--8 fa-clock-o"></i>Yeasterday at 08:20 am</p>
          </div>

          <div class="activity--content">
            <p>I’m fall in love with <a href="#">@Mellisa E. Torres</a></p>
          </div>
        </div>
      </div>
      <!-- Activity Item End -->
    </li>
    <li>
      <!-- Activity Item Start -->
      <div class="activity--item">
        <div class="activity--avatar">
          <a href="member-activity-personal.html">
            <img src="img/activity-img/avatar-03.jpg" alt="">
          </a>
        </div>

        <div class="activity--info fs--14">
          <div class="activity--header">
            <p><a href="member-activity-personal.html">Denise R. Sherman</a> posted an update</p>
          </div>

          <div class="activity--meta fs--12">
            <p><i class="fa mr--8 fa-clock-o"></i>Yeasterday at 08:20 am</p>
          </div>

          <div class="activity--content">
            <p>Help me please.</p>
          </div>

          <div class="activity--comments fs--12">
            <ul class="acomment--items nav">
              <li>
                <div class="acomment--item clearfix">
                  <div class="acomment--avatar">
                    <a href="member-activity-personal.html">
                      <img src="img/activity-img/avatar-05.jpg" alt="">
                    </a>
                  </div>

                  <div class="acomment--info">
                    <div class="acomment--header">
                      <p><a href="member-activity-personal.html">Lee E. Jones</a> Replied</p>
                    </div>

                    <div class="acomment--meta">
                      <p><i class="fa mr--8 fa-clock-o"></i>Yeasterday at 08:20 am</p>
                    </div>

                    <div class="acomment--content">
                      <p>How may I help you ?</p>
                      <p><a href="#">@Denise R. Sherman</a></p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Activity Item End -->
    </li>
    <li>
      <!-- Activity Item Start -->
      <div class="activity--item">
        <div class="activity--avatar">
          <a href="member-activity-personal.html">
            <img src="img/activity-img/avatar-07.jpg" alt="">
          </a>
        </div>

        <div class="activity--info fs--14">
          <div class="activity--header">
            <p><a href="member-activity-personal.html">Anita J. Lilley</a> felling verry happy <i class="fa ml--4 mr--4 fa-smile-o"></i> with <a href="member-activity-personal.html">Patsy W. Taylor</a> and <a href="#">6 more others</a></p>
          </div>

          <div class="activity--meta fs--12">
            <p><i class="fa mr--8 fa-clock-o"></i>Yeasterday at 08:20 am</p>
          </div>

          <div class="activity--content">
            <p>I’m felling verry happy</p>
          </div>
        </div>
      </div>
      <!-- Activity Item End -->
    </li>
  </ul>
  <!-- Activity Items End -->
</div>
