<section class="section pt--70 pb--40">
  <div class="container">
    <!-- Section Title Start -->
    <div class="section--title pb--50 text-center">
      <div class="title">
        <h2 class="h2">How It Works?</h2>
      </div>

      <div class="sub-title">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has industry's.</p>
      </div>
    </div>
    <!-- Section Title End -->

    <div class="row">
      <div class="col-md-7 pb--40">
        <div class="row gutter--15 AdjustRow" data-scroll-reveal="group">
          <div class="col-xs-4 pb--15">
            <img src="img/how-it-works-img/01.jpg" alt="">
          </div>

          <div class="col-xs-4 pb--15">
            <img src="img/how-it-works-img/02.jpg" alt="">
          </div>

          <div class="col-xs-4 pb--15">
            <img src="img/how-it-works-img/03.jpg" alt="">
          </div>

          <div class="col-xs-12">
            <img src="img/how-it-works-img/04.jpg" alt="">
          </div>
        </div>
      </div>

      <div class="col-md-5 pb--40">
        <!-- Info Items Start -->
        <div class="info--items" data-scroll-reveal="group">
          <!-- Info Item Start -->
          <div class="info--item clearfix">
            <div class="icon">
              <img src="img/how-it-works-img/icon-01.png" alt="">
            </div>

            <div class="info">
              <div class="title">
                <h3 class="h4 fw--700">Create An Account</h3>
              </div>

              <div class="desc">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
            </div>
          </div>
          <!-- Info Item End -->

          <!-- Info Item Start -->
          <div class="info--item clearfix">
            <div class="icon">
              <img src="img/how-it-works-img/icon-02.png" alt="">
            </div>

            <div class="info">
              <div class="title">
                <h3 class="h4 fw--700">Add Friends &amp; Groups</h3>
              </div>

              <div class="desc">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
            </div>
          </div>
          <!-- Info Item End -->

          <!-- Info Item Start -->
          <div class="info--item clearfix">
            <div class="icon">
              <img src="img/how-it-works-img/icon-03.png" alt="">
            </div>

            <div class="info">
              <div class="title">
                <h3 class="h4 fw--700">Start Discussion</h3>
              </div>

              <div class="desc">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
            </div>
          </div>
          <!-- Info Item End -->

          <!-- Info Item Start -->
          <div class="info--item clearfix">
            <div class="icon">
              <img src="img/how-it-works-img/icon-04.png" alt="">
            </div>

            <div class="info">
              <div class="title">
                <h3 class="h4 fw--700">Share With Friends</h3>
              </div>

              <div class="desc">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
            </div>
          </div>
          <!-- Info Item End -->
        </div>
        <!-- Info Items End -->
      </div>
    </div>
  </div>
</section>
