

<!-- Page Wrapper Start -->
<section class="page--wrapper pt--80 pb--20" *ngIf="!loading">
  <div class="container">
    <div class="row">

      <div class="main--content col-md-8 pb--30" data-trigger="stickyScroll">

        <div class="myalert alert-{{error.type}}" role="alert" *ngIf="error">
          <strong>Error!</strong> {{error.debugMessage}}
        </div>

        <!-- success view -->
        <div class="myalert alert-success" role="alert" *ngIf="success">
          <strong>Success!</strong> Profile has been updated
        </div>

        <form name="form" (ngSubmit)="f.form.valid && update()" #f="ngForm" novalidate>
          <div class="main--content-inner">
            <!-- Post Item Start -->
            <div class="post--item post--single pb--30">

              <!-- Post Info Start -->
              <div class="post--info">

                <div class="post--content text-center text-darker mt--10">

                  <img class="img-responsive" [src]="user.avatar"/>
                  <ng2-file-input (onAction)="onPhotoAction($event)" ></ng2-file-input>

                </div>


                <div class="post--content text-darker mt--10">
                  <input type="email" placeholder="Email *" class="form-control"
                         name="email" [(ngModel)]="user.email" #email="ngModel" required>
                  <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
                </div>

                <div class="post--content text-darker mt--10">
                  <input type="text" placeholder="Username *" class="form-control"
                         name="username" [(ngModel)]="user.username" #username="ngModel" required>
                  <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>

                </div>

                <div class="post--content text-darker mt--10">
                  <input type="text" placeholder="First Name *" class="form-control"
                         name="firstName" [(ngModel)]="user.firstName" #firstName="ngModel" required>
                  <div *ngIf="f.submitted && !firstName.valid" class="help-block">First name is required</div>

                </div>

                <div class="post--content text-darker mt--10">
                  <input type="text" placeholder="Last Name *" class="form-control"
                         name="lastName" [(ngModel)]="user.lastName" #lastName="ngModel" required>
                  <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last name is required</div>

                </div>

                <div class="post--content text-darker mt--10">
                    <textarea type="text" placeholder="About me *" class="form-control"
                          name="text" [(ngModel)]="user.text" #text="ngModel" required></textarea>
                  <div *ngIf="f.submitted && !password.text" class="help-block">Text is required</div>

                </div>

                <div class="post--content text-darker ml--10 mt--10">
                  <div class="action">
                    <a [routerLink]="['/system','change_password']">Change password<i class="fa ml--10 fa-caret-right"></i></a>
                  </div>
                </div>



              </div>

            </div>



            <div class="load-more--btn pt--30 text-center" >
              <button [disabled]="loading" class="btn btn-animate">
                <span>Update<i class="fa ml--10 fa-caret-right"></i></span>
              </button>
            </div>


          </div>


        </form>


      </div>


      <!-- Main Sidebar Start -->
      <div class="main--sidebar col-md-4 pb--60" data-trigger="stickyScroll">


        <div class="widget">
          <app-notice-item></app-notice-item>
        </div>


        <div class="widget">
          <h2 class="h4 fw--700 widget--title">Company</h2>
          <div class="text--widget">
            <app-company-item [company]="user.company"></app-company-item>
          </div>
        </div>

        <div class="widget">
          <app-advertisements-item></app-advertisements-item>
        </div>

      </div>

    </div>
  </div>
</section>
