<div class="col-md-3 col-xs-6 col-xxs-12">
  <!-- Member Item Start -->
  <div class="member--item online">
    <div class="img img-circle">
      <a [routerLink]="['/system', 'members', member.id]" class="btn-link">
        <img [src]="member.avatar" alt="">
      </a>
    </div>

    <div class="name">
      <h3 class="h6 fs--12">
        <a href="member-activity-personal.html" class="btn-link">{{member.firstName}} {{member.lastName}}</a>
      </h3>
    </div>

    <div class="activity">
      <p><i class="fa mr--8 fa-clock-o"></i>Active 5 monts ago</p>
    </div>

    <div class="actions">
      <ul class="nav">
        <li>
          <a href="#" title="Send Message" class="btn-link" data-toggle="tooltip" data-placement="bottom">
            <i class="fa fa-envelope-o"></i>
          </a>
        </li>
        <li>
          <a href="#" title="Add Friend" class="btn-link" data-toggle="tooltip" data-placement="bottom">
            <i class="fa fa-user-plus"></i>
          </a>
        </li>
        <li>
          <a href="#" title="Media" class="btn-link" data-toggle="tooltip" data-placement="bottom">
            <i class="fa fa-folder-o"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Member Item End -->
</div>
