<section class="section pt--70 pb--20">
  <div class="container">
    <div class="row">
      <div class="col-md-5 pb--60">
        <!-- FAQ Items Start -->
        <div class="faq--items" id="faqItems" data-scroll-reveal="group">
          <div class="title pb--20">
            <h2 class="h2 fw--600">Frequently Asked Question</h2>
          </div>

          <!-- FAQ Item Start -->
          <div class="faq--item style--1 panel">
            <div class="title">
              <h3 class="h6 fw--700 text-darker">
                <a href="#faqItem01" data-parent="#faqItems" data-toggle="collapse" class="collapsed">
                  <span>How can I register?</span>
                </a>
              </h3>
            </div>

            <div id="faqItem01" class="content collapse">
              <div class="content--inner">
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words even slightly believable.</p>
              </div>
            </div>
          </div>
          <!-- FAQ Item End -->

          <!-- FAQ Item Start -->
          <div class="faq--item style--1 panel">
            <div class="title">
              <h3 class="h6 fw--700 text-darker">
                <a href="#faqItem02" data-parent="#faqItems" data-toggle="collapse" class="collapsed">
                  <span>What are the benefits of premium plans?</span>
                </a>
              </h3>
            </div>

            <div id="faqItem02" class="content collapse">
              <div class="content--inner">
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words even slightly believable.</p>
              </div>
            </div>
          </div>
          <!-- FAQ Item End -->

          <!-- FAQ Item Start -->
          <div class="faq--item style--1 panel">
            <div class="title">
              <h3 class="h6 fw--700 text-darker">
                <a href="#faqItem03" data-parent="#faqItems" data-toggle="collapse" class="collapsed">
                  <span>How can I renew my plan?</span>
                </a>
              </h3>
            </div>

            <div id="faqItem03" class="content collapse">
              <div class="content--inner">
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words even slightly believable.</p>
              </div>
            </div>
          </div>
          <!-- FAQ Item End -->
        </div>
        <!-- FAQ Items End -->
      </div>

      <div class="col-md-7 pb--60">
        <!-- Download Block Start -->
        <div class="download--block" data-scroll-reveal="group">
          <div class="img">
            <img src="img/download-img/mobile.png" alt="">
          </div>

          <div class="info">
            <div class="title">
              <h2 class="h2 fw--600">Download Application &amp; Get More Features</h2>
            </div>

            <div class="content fs--12">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industtry's statndard dummy specimen book. Lorem Ipsum which looks reasonable. The generated Lorem Ipsum words etc.</p>
            </div>

            <div class="action text-uppercase">
              <a href="#" class="btn btn-sm btn-google"><i class="fa mr--8 fa-play"></i>Play Store</a>
              <a href="#" class="btn btn-sm btn-apple"><i class="fa mr--8 fa-apple"></i>App Store</a>
            </div>
          </div>
        </div>
        <!-- Download Block End -->
      </div>
    </div>
  </div>
</section>
