
<div class="myalert alert-{{error.type}}" role="alert" *ngIf="error">
  <strong>Error!</strong> {{error.debugMessage}}
</div>


<div *ngIf="loaded">

  <!-- Cover Header Start -->
  <div class="cover cover--header pt--80 text-center" data-bg-img="img/group-img/admin-avatar-01.jpg" data-overlay="0.6" data-overlay-color="white">
    <div class="container">
      <div class="cover--avatar" data-overlay="0.3" data-overlay-color="primary">
        <img [src]="company.photoUrl" alt="">
      </div>

      <div class="cover--user-name">
        <h2 class="h3 fw--600">{{company.title}}</h2>
      </div>

      <div class="cover--user-desc fw--400 fs--18 fstyle--i text-darkest">
        <p>{{company.text}}</p>
      </div>

      <div class="load-more--btn pt--30 text-center" *ngIf="!company.followed">
        <button (click)="startFollowing()" class="btn btn-animate">
          <span>Follow<i class="fa ml--10 fa-caret-right"></i></span>
        </button>
      </div>

      <div class="pt--30 text-center" *ngIf="company.followed">
        <button (click)="stopFollowing()" class="btn btn-primary">Following</button>
      </div>


    </div>
  </div>
  <!-- Cover Header End -->

  <!-- Page Wrapper Start -->
  <section class="page--wrapper pt--80 pb--20">
    <div class="container">
      <div class="row">
        <!-- Main Content Start -->
        <div class="main--content col-md-8 pb--60" data-trigger="stickyScroll">
          <div class="main--content-inner drop--shadow">
            <!-- Content Nav Start -->
            <div class="content--nav pb--30">
              <ul class="nav ff--primary fs--14 fw--500 bg-lighter">
                <li class="active"><a [routerLink]="['/system', 'company', id, 'details', id]">Details</a></li>
                <li><a [routerLink]="['/system', 'company',id, 'members', id]">Members</a></li>
                <li><a [routerLink]="['/system', 'company',id, 'media', id]">Media</a></li>
                <li><a [routerLink]="['/system', 'company',id, 'blogs', id]">Blogs</a></li>
              </ul>
            </div>
            <!-- Content Nav End -->

            <router-outlet></router-outlet>

          </div>


        </div>
        <!-- Main Content End -->

        <!-- Main Sidebar Start -->
        <div class="main--sidebar col-md-4 pb--60" data-trigger="stickyScroll">


          <div class="widget">
            <app-notice-item></app-notice-item>
          </div>

          <div class="widget">
            <app-blogs-summary-item></app-blogs-summary-item>
          </div>


          <div class="widget">
            <app-advertisements-item></app-advertisements-item>
          </div>


        </div>
        <!-- Main Sidebar End -->
      </div>
    </div>
  </section>


</div>

